<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <activeProfiles>
    <activeProfile>nutanix</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>nutanix</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
        </repository>
        <repository>
          <id>nutanix-public</id>
          <url>https://maven.pkg.github.com/orichter/package-publishing-examples</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>nutanix-private</id>
          <url>https://maven.pkg.github.com/nutanix-core/ntnx-api-java-sdk-external</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>nutanix-private-staging</id>
          <url>https://maven.pkg.github.com/nutanix-release-engineering/experiments-example-github-package-npm</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>nutanix-sample</id>
          <url>https://maven.pkg.github.com/nutanix-release-engineering/experiments-example-github-package-npm</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>maven-central</id>
      <username>${env.USERNAME_PUBLISH_MVN_CENTRAL}</username>
      <password>${env.PASSWORD_PUBLISH_MVN_CENTRAL}</password>
    </server>
    <server>
      <id>nutanix-public</id>
      <username>${env.USERNAME_PUBLISH_MVN}</username>
      <password>${env.PASSWORD_PUBLISH_MVN}</password>
    </server>
    <server>
      <id>nutanix-private-staging</id>
      <username>${env.USERNAME_PUBLISH_MVN}</username>
      <password>${env.PASSWORD_PUBLISH_MVN}</password>
    </server>
    <server>
      <id>nutanix-private</id>
      <username>${env.USERNAME_PUBLISH_MVN}</username>
      <password>${env.GITHUB_PACKAGE_READ_TOKEN}</password>
    </server>
    <server>
      <id>gpg.passphrase</id>
      <passphrase>${env.PASSWORD_PUBLISH_MVN_CENTRAL}</passphrase>
    </server>
  </servers>
</settings>
